### INSURANCE POLICY LAPSE PREDICTION

### Import Packages

In [1]:
#A00
#import basic packages.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

### Import Files

In [2]:
#A00
#import files
client_df = pd.read_csv('Practice/data/client_data.csv')
payment_df = pd.read_csv('Practice/data/payment_history.csv')
policy_df = pd.read_csv('Practice/data/policy_data.csv')
main_train_df = pd.read_csv('Practice/data/train.csv')
smp_sub_df = pd.read_csv('Practice/data/sample_sub.csv')

### Expolaratory Data Analysis

In [3]:
#EDA on main_train_df

main_train_df.head(3)

     Policy ID Lapse Lapse Year
0  PID_4928TWH     ?          ?
1  PID_KBLLEGK     ?          ?
2  PID_90F0QA3     ?          ?

The Policy ID with Lapse and Lapse Year '?' values are meant to be in the test df and will be separated

In [4]:
main_train_df.shape

(51685, 3)

The train df has 51,685 rows and 3 columns

In [5]:
main_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51685 entries, 0 to 51684
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Policy ID   51685 non-null  object
 1   Lapse       51685 non-null  object
 2   Lapse Year  51685 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [6]:
main_train_df.isna().sum()

Policy ID     0
Lapse         0
Lapse Year    0
dtype: int64

No null values

In [7]:
len(main_train_df['Policy ID'].unique())

51685

There are no duplicate Policy ID values

In [8]:
main_train_df['Lapse'].unique()

array(['?', '1'], dtype=object)

Apart from '?', the Lapse value is equal to 1

In [9]:
main_train_df['Lapse Year'].unique()

array(['?', '2019', '2018', '2017'], dtype=object)

The Lapse Years are between (2017-2019)

### Feature Engineering

First, we create the test df. Our target variable is Lapse, therefore we drop the Lapse Year column

In [10]:
#A00
test_df = main_train_df[main_train_df['Lapse'] == '?'].drop(['Lapse Year'], axis =1)
test_df.head(3)

     Policy ID Lapse
0  PID_4928TWH     ?
1  PID_KBLLEGK     ?
2  PID_90F0QA3     ?

In [11]:
test_df['Lapse'].unique()

array(['?'], dtype=object)

In [12]:
test_df.shape

(43707, 2)

Out of the 51,685 rows, 43,707 are in our test df

We create the train_df without the test rows

In [13]:
#A00
train_df = main_train_df[main_train_df['Lapse'] != '?']
print(train_df.shape)
train_df.head(3)

(7978, 3)

      Policy ID Lapse Lapse Year
16  PID_MFAAYNJ     1       2019
23  PID_TICDPAY     1       2019
30  PID_SPACC3N     1       2018

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7978 entries, 16 to 51680
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Policy ID   7978 non-null   object
 1   Lapse       7978 non-null   object
 2   Lapse Year  7978 non-null   object
dtypes: object(3)
memory usage: 249.3+ KB

Our train df has 7,978 rows. The Lapse and Lapse Year are stored as objects. We will convert them to integers

In [15]:
#A00
#Converting Lapse & Lapse Year to integers
train_df.loc[:, ('Lapse Year')] = pd.to_numeric(train_df['Lapse Year'])
train_df.loc[:, ('Lapse')] = pd.to_numeric(train_df['Lapse'])

# Converting DATEPAI to datetime format
payment_df['DATEPAID'] = pd.to_datetime(payment_df['DATEPAID'])

train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7978 entries, 16 to 51680
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Policy ID   7978 non-null   object
 1   Lapse       7978 non-null   int64
 2   Lapse Year  7978 non-null   int64
dtypes: int64(2), object(1)
memory usage: 249.3+ KB

C:\Users\USER\SeraApps\anaconda\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\Users\USER\SeraApps\anaconda\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

Success!

In [16]:
train_df['Lapse'].unique()

array([1], dtype=int64)

In [17]:
train_df['Lapse Year'].unique()

array([2019, 2018, 2017], dtype=int64)

We combine the following main features to the train_df: <br>
POLICY_ID, LAPSE, LAPSE_YEAR - from train_df <br/>
SEX, BIRTH_DATE - from client_df <br/>
AMOUNT_PAID, DATE_PAID, PREMIUM_DUE_DATE - from payment_df <br/>
PRODUCT_CODE(PPR_PRODCD), PRINC_RSHIP(CLF_LIFECD), SUM_ASSURED(NPR_SUM_ASSURE), CATEGORY - from policy_df

In [18]:
#A00 
#Combine main columns in the datasets to the train_df
client_df_features = ['Policy ID','NPH_SEX','NPH_BIRTHDATE']
payment_df_features = ['Policy ID', 'AMOUNTPAID', 'DATEPAID', 'PREMIUMDUEDATE']
policy_df_features = ['Policy ID', 'PPR_PRODCD', 'CLF_LIFECD', 'NPR_SUMASSURED', 'CATEGORY']

#Join the Client Dataset
train_df = train_df.join(
    client_df[client_df_features].set_index('Policy ID'),
    on = 'Policy ID', how = 'inner')

#Join the Payment Dataset
train_df = train_df.join(
    payment_df[payment_df_features].set_index('Policy ID'),
    on = 'Policy ID', how = 'inner')

#Join the Policy Dataset
train_df = train_df.join(
    policy_df[policy_df_features].set_index('Policy ID'),
    on = 'Policy ID', how = 'inner')

#Rename the columns
rename_cols = {
    'Policy ID': 'POLICY_ID', 'NPH_SEX': 'GENDER',
    'NPH_BIRTHDATE': 'BIRTH YEAR', 'AMOUNTPAID': 'AMOUNT_PAID',
    'DATEPAID': 'DATE_PAID', 'PREMIUMDUEDATE': 'PREMIUM_DUE_DATE',
    'PPR_PRODCD': 'PRODUCT_CODE', 'CLF_LIFECD': 'PRINC_RSHIP',
    'NPR_SUMASSURED': 'SUM_ASSURED', 'Lapse': 'LAPSE', 'Lapse Year': 'LAPSE_YEAR'
}

train_df.rename(columns=rename_cols, inplace=True)

#Re-order the features
train_df = train_df.reindex(columns=
    ['POLICY_ID'] + [col for col in train_df.columns if col not in\
        ['POLICY_ID', 'LAPSE', 'LAPSE_YEAR']] + ['LAPSE_YEAR'] + ['LAPSE']
    )

train_df

,POLICY_ID,GENDER,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,PRODUCT_CODE,PRINC_RSHIP,SUM_ASSURED,CATEGORY,LAPSE_YEAR,LAPSE
16,PID_MFAAYNJ,F,1987,0.0,2018-01-10,2018-01-10 00:00:00,PPR_PRODCD_KOFUYNN,4,27631.086529,CATEGORY_GWW4FYB,2019,1
16,PID_MFAAYNJ,F,1987,0.0,2018-01-10,2018-01-10 00:00:00,PPR_PRODCD_KOFUYNN,1,123487.430359,CATEGORY_GWW4FYB,2019,1
16,PID_MFAAYNJ,F,1987,0.0,2018-01-10,2018-01-10 00:00:00,PPR_PRODCD_KOFUYNN,2,123487.430359,CATEGORY_GWW4FYB,2019,1
16,PID_MFAAYNJ,F,1987,0.0,2018-01-10,2018-01-10 00:00:00,PPR_PRODCD_B2KVCE7,2,NaN,CATEGORY_GWW4FYB,2019,1
16,PID_MFAAYNJ,F,1987,0.0,2018-01-10,2018-01-10 00:00:00,PPR_PRODCD_B2KVCE7,3,NaN,CATEGORY_GWW4FYB,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
51671,PID_BS40NIJ,F,1984,0.0,2018-01-11,2018-01-11 00:00:00,PPR_PRODCD_KOFUYNN,2,27631.086529,CATEGORY_GWW4FYB,2019,1
51671,PID_BS40NIJ,F,1984,0.0,2018-01-11,2018-01-11 00:00:00,PPR_PRODCD_B2KVCE7,4,NaN,CATEGORY_GWW4FYB,2019,1
51671,PID_BS40NIJ,F,1984,0.0,2018-01-11,2018-01-11 00:00:00,PPR_PRODCD_KOFUYNN,3,27631.086529,CATEGORY_GWW4FYB,2019,1
51671,PID_BS40NIJ,F,1984,0.0,2018-01-11,2018-01-11 00:00:00,PPR_PRODCD_KOFUYNN,1,27631.086529,CATEGORY_GWW4FYB,2019,1
51671,PID_BS40NIJ,F,1984,0.0,2018-01-11,2018-01-11 00:00:00,PPR_PRODCD_B2KVCE7,3,NaN,CATEGORY_GWW4FYB,2019,1

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460479 entries, 16 to 51671
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   POLICY_ID         460479 non-null  object
 1   GENDER            460479 non-null  object
 2   BIRTH YEAR        460479 non-null  int64
 3   AMOUNT_PAID       457287 non-null  float64
 4   DATE_PAID         460479 non-null  datetime64[ns]
 5   PREMIUM_DUE_DATE  451293 non-null  object
 6   PRODUCT_CODE      460479 non-null  object
 7   PRINC_RSHIP       460479 non-null  int64
 8   SUM_ASSURED       276432 non-null  float64
 9   CATEGORY          460479 non-null  object
 10  LAPSE_YEAR        460479 non-null  int64
 11  LAPSE             460479 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 45.7+ MB

##### We get a summary of the dataframe

In [20]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460479 entries, 16 to 51671
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   POLICY_ID         460479 non-null  object
 1   GENDER            460479 non-null  object
 2   BIRTH YEAR        460479 non-null  int64
 3   AMOUNT_PAID       457287 non-null  float64
 4   DATE_PAID         460479 non-null  datetime64[ns]
 5   PREMIUM_DUE_DATE  451293 non-null  object
 6   PRODUCT_CODE      460479 non-null  object
 7   PRINC_RSHIP       460479 non-null  int64
 8   SUM_ASSURED       276432 non-null  float64
 9   CATEGORY          460479 non-null  object
 10  LAPSE_YEAR        460479 non-null  int64
 11  LAPSE             460479 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 45.7+ MB

NB missing values in volumns Premium due date and amount_paid.

... In the  datasets, columns like Gender, category, and product code contain categorical features
Since the data is string labels, the machine learning model can not work on such data. One approach to solve this problem can be one hot encoding where we will assign a numerical value to these labels

In [21]:
#A00
# unique values in each columns
new_df = train_df[['GENDER','PRODUCT_CODE','PRINC_RSHIP','CATEGORY']]
for x in new_df.columns:
    #prinfting unique values
    print(x ,':', len(new_df[x].unique()))

GENDER : 2
PRODUCT_CODE : 9
PRINC_RSHIP : 6
CATEGORY : 6

The above shows the number of unique values in each of the categorical features before one hot encoding

In [22]:
#A00
#One-Hot encoding the categorical parameters using get_dummies()
one_hot_encoded_data = pd.get_dummies(train_df, columns = ['GENDER','PRODUCT_CODE','PRINC_RSHIP','CATEGORY'])

In [23]:
#reorder columns

column_titles = [col for col in one_hot_encoded_data.columns if col!= 'LAPSE'] + ['LAPSE']
train_df=one_hot_encoded_data.reindex(columns=column_titles)
train_df

,POLICY_ID,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,SUM_ASSURED,LAPSE_YEAR,GENDER_F,GENDER_M,PRODUCT_CODE_PPR_PRODCD_165U4LY,...,PRINC_RSHIP_4,PRINC_RSHIP_5,PRINC_RSHIP_6,CATEGORY_CATEGORY_1750CEH,CATEGORY_CATEGORY_8DALFYO,CATEGORY_CATEGORY_GWW4FYB,CATEGORY_CATEGORY_LXSLG6M,CATEGORY_CATEGORY_M1ZXYVG,CATEGORY_CATEGORY_R821UZV,LAPSE
16,PID_MFAAYNJ,1987,0.0,2018-01-10,2018-01-10 00:00:00,27631.086529,2019,1,0,0,...,1,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,0.0,2018-01-10,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,0.0,2018-01-10,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,0.0,2018-01-10,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,0.0,2018-01-10,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51671,PID_BS40NIJ,1984,0.0,2018-01-11,2018-01-11 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,0.0,2018-01-11,2018-01-11 00:00:00,NaN,2019,1,0,0,...,1,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,0.0,2018-01-11,2018-01-11 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,0.0,2018-01-11,2018-01-11 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,0.0,2018-01-11,2018-01-11 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1

...now our categorical columns have been converted to integers which is good for training a machine learning model.

Having looked at the data frame the column amount_paid contain 0 values which seems redundant, we will drop rows with reduntant information

In [24]:
#A00
#drop the rows with amount_paid = 0 values
train_df = train_df[train_df.AMOUNT_PAID != 0]
train_df

,POLICY_ID,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,SUM_ASSURED,LAPSE_YEAR,GENDER_F,GENDER_M,PRODUCT_CODE_PPR_PRODCD_165U4LY,...,PRINC_RSHIP_4,PRINC_RSHIP_5,PRINC_RSHIP_6,CATEGORY_CATEGORY_1750CEH,CATEGORY_CATEGORY_8DALFYO,CATEGORY_CATEGORY_GWW4FYB,CATEGORY_CATEGORY_LXSLG6M,CATEGORY_CATEGORY_M1ZXYVG,CATEGORY_CATEGORY_R821UZV,LAPSE
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,27631.086529,2019,1,0,0,...,1,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51671,PID_BS40NIJ,1984,2341.902952,2018-12-24,2019-01-01 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,2341.902952,2018-12-24,2019-01-01 00:00:00,NaN,2019,1,0,0,...,1,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,2341.902952,2018-12-24,2019-01-01 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,2341.902952,2018-12-24,2019-01-01 00:00:00,27631.086529,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
51671,PID_BS40NIJ,1984,2341.902952,2018-12-24,2019-01-01 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1

##### We do have missing values that need to be filled i.e. 'SUM_ASSURED ' & 'AMOUNT_PAID '

In [25]:
# train_df[train_df['AMOUNT_PAID'].isna()]
train_df.loc[train_df['POLICY_ID'] == 'PID_K5MU9OI']

,POLICY_ID,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,SUM_ASSURED,LAPSE_YEAR,GENDER_F,GENDER_M,PRODUCT_CODE_PPR_PRODCD_165U4LY,...,PRINC_RSHIP_4,PRINC_RSHIP_5,PRINC_RSHIP_6,CATEGORY_CATEGORY_1750CEH,CATEGORY_CATEGORY_8DALFYO,CATEGORY_CATEGORY_GWW4FYB,CATEGORY_CATEGORY_LXSLG6M,CATEGORY_CATEGORY_M1ZXYVG,CATEGORY_CATEGORY_R821UZV,LAPSE
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,NaN,2018-08-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,0,1,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,NaN,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1
986,PID_K5MU9OI,1992,12328.624776,2018-05-31,2018-01-05 00:00:00,45513.429325,2018,1,0,0,...,0,0,0,0,0,1,0,0,0,1

In [26]:
train_df.isna().sum()

POLICY_ID                               0
BIRTH YEAR                              0
AMOUNT_PAID                          3192
DATE_PAID                               0
PREMIUM_DUE_DATE                        0
SUM_ASSURED                        103554
LAPSE_YEAR                              0
GENDER_F                                0
GENDER_M                                0
PRODUCT_CODE_PPR_PRODCD_165U4LY         0
PRODUCT_CODE_PPR_PRODCD_APTRA9E         0
PRODUCT_CODE_PPR_PRODCD_B2KVCE7         0
PRODUCT_CODE_PPR_PRODCD_EJ7YKFV         0
PRODUCT_CODE_PPR_PRODCD_GLE2MHV         0
PRODUCT_CODE_PPR_PRODCD_H6S21FA         0
PRODUCT_CODE_PPR_PRODCD_KOFUYNN         0
PRODUCT_CODE_PPR_PRODCD_OK3TM96         0
PRODUCT_CODE_PPR_PRODCD_W0F6GK1         0
PRINC_RSHIP_1                           0
PRINC_RSHIP_2                           0
PRINC_RSHIP_3                           0
PRINC_RSHIP_4                           0
PRINC_RSHIP_5                           0
PRINC_RSHIP_6                           0
CATEGORY_CATEGORY_1750CEH               0
CATEGORY_CATEGORY_8DALFYO               0
CATEGORY_CATEGORY_GWW4FYB               0
CATEGORY_CATEGORY_LXSLG6M               0
CATEGORY_CATEGORY_M1ZXYVG               0
CATEGORY_CATEGORY_R821UZV               0
LAPSE                                   0
dtype: int64

In [27]:
# train_df[(train_df['PREMIUM_DUE_DATE'].isna()) & (train_df['AMOUNT_PAID'] != 0)]
# train_df[(train_df['PREMIUM_DUE_DATE'].isna()) & (train_df['AMOUNT_PAID'].notnull())]
# train_df[train_df['AMOUNT_PAID'] == 0].shape
# train_df.shape
train_df['PREMIUM_DUE_DATE'].unique()

array(['2018-01-10 00:00:00', '2018-01-04 00:00:00',
       '2019-01-01 00:00:00', '2018-01-12 00:00:00',
       '2018-01-11 00:00:00', '2018-01-05 00:00:00',
       '2018-01-09 00:00:00', '2018-01-08 00:00:00',
       '2018-01-06 00:00:00', '2018-01-07 00:00:00',
       '2018-01-03 00:00:00', '2018-01-02 00:00:00',
       '2019-01-02 00:00:00', '2019-01-03 00:00:00',
       '2019-01-05 00:00:00', '2019-01-04 00:00:00',
       '2017-01-09 00:00:00', '2017-01-10 00:00:00',
       '2017-01-07 00:00:00', '2017-01-11 00:00:00',
       '2017-01-12 00:00:00', '2017-01-08 00:00:00',
       '2018-01-01 00:00:00', '2019-01-06 00:00:00'], dtype=object)

In [28]:
payment_df[payment_df['AMOUNTPAID'] != 0].shape

(278530, 5)

In [29]:
payment_df.columns

Index(['Policy ID', 'AMOUNTPAID', 'DATEPAID', 'POSTDATE', 'PREMIUMDUEDATE'], dtype='object')

In [30]:
# payment_df[payment_df['Policy ID'] == 'PID_6XDDPTV'].sort_values(by='DATEPAID')

In [31]:
# pd.set_option('display.max_rows',None)
train_df[train_df['POLICY_ID'] == 'PID_REBKSKG'].sort_values(by='DATE_PAID').head(100)

,POLICY_ID,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,SUM_ASSURED,LAPSE_YEAR,GENDER_F,GENDER_M,PRODUCT_CODE_PPR_PRODCD_165U4LY,...,PRINC_RSHIP_4,PRINC_RSHIP_5,PRINC_RSHIP_6,CATEGORY_CATEGORY_1750CEH,CATEGORY_CATEGORY_8DALFYO,CATEGORY_CATEGORY_GWW4FYB,CATEGORY_CATEGORY_LXSLG6M,CATEGORY_CATEGORY_M1ZXYVG,CATEGORY_CATEGORY_R821UZV,LAPSE
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-09-28,2018-01-10 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-11-30,2018-01-11 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,2008,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1
14043,PID_REBKSKG,1974,437.696085,2018-12-29,2019-01-01 00:00:00,27631.086529,2019,1,0,1,...,0,0,0,0,0,1,0,0,0,1

In [32]:
train_df['DATE_PAID'] = pd.to_datetime(train_df['DATE_PAID'])

<ipython-input-32-a6bfab28aa8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['DATE_PAID'] = pd.to_datetime(train_df['DATE_PAID'])

In [39]:
train_df.dtypes

POLICY_ID                                  object
BIRTH YEAR                                  int64
AMOUNT_PAID                               float64
DATE_PAID                          datetime64[ns]
PREMIUM_DUE_DATE                           object
SUM_ASSURED                               float64
LAPSE_YEAR                                  int64
GENDER_F                                    uint8
GENDER_M                                    uint8
PRODUCT_CODE_PPR_PRODCD_165U4LY             uint8
PRODUCT_CODE_PPR_PRODCD_APTRA9E             uint8
PRODUCT_CODE_PPR_PRODCD_B2KVCE7             uint8
PRODUCT_CODE_PPR_PRODCD_EJ7YKFV             uint8
PRODUCT_CODE_PPR_PRODCD_GLE2MHV             uint8
PRODUCT_CODE_PPR_PRODCD_H6S21FA             uint8
PRODUCT_CODE_PPR_PRODCD_KOFUYNN             uint8
PRODUCT_CODE_PPR_PRODCD_OK3TM96             uint8
PRODUCT_CODE_PPR_PRODCD_W0F6GK1             uint8
PRINC_RSHIP_1                               uint8
PRINC_RSHIP_2                               uint8
PRINC_RSHIP_3                               uint8
PRINC_RSHIP_4                               uint8
PRINC_RSHIP_5                               uint8
PRINC_RSHIP_6                               uint8
CATEGORY_CATEGORY_1750CEH                   uint8
CATEGORY_CATEGORY_8DALFYO                   uint8
CATEGORY_CATEGORY_GWW4FYB                   uint8
CATEGORY_CATEGORY_LXSLG6M                   uint8
CATEGORY_CATEGORY_M1ZXYVG                   uint8
CATEGORY_CATEGORY_R821UZV                   uint8
LAPSE                                       int64
dtype: object

In [41]:
train_df.head()

,POLICY_ID,BIRTH YEAR,AMOUNT_PAID,DATE_PAID,PREMIUM_DUE_DATE,SUM_ASSURED,LAPSE_YEAR,GENDER_F,GENDER_M,PRODUCT_CODE_PPR_PRODCD_165U4LY,...,PRINC_RSHIP_4,PRINC_RSHIP_5,PRINC_RSHIP_6,CATEGORY_CATEGORY_1750CEH,CATEGORY_CATEGORY_8DALFYO,CATEGORY_CATEGORY_GWW4FYB,CATEGORY_CATEGORY_LXSLG6M,CATEGORY_CATEGORY_M1ZXYVG,CATEGORY_CATEGORY_R821UZV,LAPSE
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,27631.086529,2019,1,0,0,...,1,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,123487.430359,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1
16,PID_MFAAYNJ,1987,3517.916006,2018-09-29,2018-01-10 00:00:00,NaN,2019,1,0,0,...,0,0,0,0,0,1,0,0,0,1

In [ ]:
train_df[train_df['POLICY_ID'] == 'PID_REBKSKG'].sort_values(by='DATE_PAID').head(100)

In [34]:
# payment_df
# 1. select the Policy ID
# 2. Select the dates
# 3. Order the dates in ascending
# 4. Get the difference betweeen n & n-1
# 5. Find the average
# 6. Output a dict of Policy ID : Average data

unique_ids = list(set([id for id in train_df['POLICY_ID']]))

for policy_id in unique_ids[1:2]: #Iterate through the Policy IDs

    #create DF of rows sorted by DATEPaid
    df = train_df[train_df['POLICY_ID'] == policy_id].sort_values(by='DATE_PAID')
    print(policy_id)
    df

    df = df.reset_index(drop=True)

    #Find difference between the previous row & the current
    date_diff = []
    for idx, row in df.iterrows():
        if idx == 0:

            continue
        else:
            date_diff_val = df.loc[idx,'DATE_PAID'] - df.loc[idx - 1,'DATE_PAID']

            if date_diff_val.days != 0:
                print('{} '.format(df.loc[idx-1,'DATE_PAID']))
                print('{} \n'.format(df.loc[idx,'DATE_PAID']))

                print('{}\n'.format(date_diff_val))
                date_diff.append(date_diff_val)
    # print(policy_id)        

date_diff

PID_2DL8PEP
2018-06-30 00:00:00
2018-12-06 00:00:00

159 days 00:00:00

[Timedelta('159 days 00:00:00')]

In [35]:
date_diff

[Timedelta('159 days 00:00:00')]